<!DOCTYPE html>
#*
The server renders this HTML page in an end-user's browser
to display the username and list of core and extended attributes

Velocity variables (identified by the $ character) are generated
at runtime by the server.

Change text or formatting as needed. Modifying Velocity statements
is not recommended as it may interfere with expected server behavior.
*#

<html lang="$locale.getLanguage()" dir="ltr">
<head>
    <base href="$CurrentPingFedBaseURL"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>$pluginTemplateMessages.getMessage("title")</title>
    <link rel="stylesheet" media="all" type="text/css" href="assets/css/main.css"/>
</head>
<body>
<div class="ping-container ping-signin">
    <div class="ping-header">
        $pluginTemplateMessages.getMessage("title")
    </div>
    <div class="ping-body-container">
        <div class="section-title">
            $pluginTemplateMessages.getMessage("headerMessage")
        </div>
        #if($status == "in_progress")
        <div class="content">
            <form id="kc-qr-login-form" method="POST"  action="$resumePath" autocomplete="off">
                <div>
                    <div>$pluginTemplateMessages.getMessage("pushNotificationFormLoginSentMessage")</div>
                </div>
                <input type="hidden" name="action" id="action-input" value="authenticate"/>
            </form>
        </div>
        <script type="text/javascript">
            // Form and action input to specify the operation on page submit.
            var form = document.getElementById('kc-qr-login-form');
            var actionInput = document.getElementById('action-input');

            // Poll in 5 seconds to see if the push notification was completed.
            setTimeout(function() {
                form.submit();
            }, 5000);
        </script>

        #end

        #elseif($status == "qr_code")
            <div class="content">
                <form id="kc-qr-login-form" method="POST"  action="$resumePath" autocomplete="off">

                    <div>
                        <div>$pluginTemplateMessages.getMessage(("verifyFormMessage")</div>
                    </div>
                    <input type="hidden" name="action" id="action-input" value="register"/>
                </form>
            </div>
            <script type="text/javascript">
                // Form and action input to specify the operation on page submit.
                var form = document.getElementById('kc-qr-login-form');
                var actionInput = document.getElementById('action-input');
                var qrCodeImg = document.createElement('img');
                var qrSrc = '$qrCode';
                var qrNumber = '$qrCodeNumber'
                var qrNumberP = document.createElement('p');
                qrCodeImg.src = 'data:image/png;base64,' + qrSrc;
                qrNumberP.innerHTML  = '$pluginTemplateMessages.getMessage("verifyNumberMessage")' + qrNumber;
                form.appendChild(qrCodeImg);
                form.appendChild(qrNumberP)

                // Poll every 5 seconds to see if registration has been completed.
                setTimeout(function() {
                    form.submit();
                }, 5000);

            </script>
        #end



    </div>
    <div class="ping-footer-container">
        <div class="ping-footer">
            <div class="ping-credits"></div>
            <div class="ping-copyright">$templateMessages.getMessage("global.footerMessage")</div>
        </div> <!-- .ping-footer -->
    </div> <!-- .ping-footer-container -->
</div> <!-- .ping-container -->
</body>
</html>
